<!DOCTYPE html>
<html>
<body>
	<h2>
		{{ .title }}
	</h2>
	<hr>
	{{ range .users }}
	<p>Login: "{{ .Login }}"</p>
	<p>Avatar: </p>
	<img src="{{ .AvatarURI }}" width="64" height="64">
	<p>Gender: {{ .Gender }}</p>
	<p>Email: {{ .Email }}</p>
	<hr>
	{{ end }}
</body>
</html>
